<p>
  <%= check_box_tag "phq[question#{question}]", '0', false %>
  Not at all
</p>
<p>
  <%= check_box_tag "phq[question#{question}]", '1', false %>
  Several days
</p>
<p>
  <%= check_box_tag "phq[question#{question}]", '2', false %>
  More than half the days
</p>
<p>
  <%= check_box_tag "phq[question#{question}]", '3', false %>
  Nearly every day
</p>